body{
    background-color:#8EDFFF; 
    margin:0;
    padding: 0;
}

/* styles for header and navigation */

header, footer {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 30px, 0px, 0px, 0px;
    text-align: right; 
}

nav li {
    display: inline;
    padding: 20px;
    font-size: 16px;
}

nav a:active, nav a:hover, nav a:visited, nav a:link {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    font-weight: bold;
    background-color: #8EDFFF;
}

.logo{
    color:#000000;
    float: left;
    padding left:20px;
    font-size:20px;
    font-weight: bold;
}

.banner{
    border: 3px solid;
    width: 100%;
}

h1{
    text-align:center;
}
 
.container{
    margin: 50px;
    border:3px solid #FFFFFF;
    background-color:#8EDFFF;
    padding:10px;

}

h2{
    text-align: center;
}

p {
    border: 5px solid #FFFFFF;
    padding:20px;
    width: 1060px;
    border-radius: 10px;
    margin:10px 50px 10px 50px;
    text-align: center;
    font-size: 16px;

}

h3{
    text-align: center;
}

/* styles for main content */
/* styles for footer */
footer {
    font-size: 10px;
    padding: 5px 0 5px 20px;
    margin: 0 0 0 20px;
    
}
